APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:7gkZDrr2NV7Ly0tIpJCKAKz5sd6XnLKFbLHZn34fjNI=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=flexipos
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

STRIPE_PROPLAN_ID=prod_QiXeURfdEG3JBZ
STRIPE_PROPLAN_PRICE_ID=price_1Pr6ZfCKjHvY5Jztv716NXje
STRIPE_BASICPLAN_ID=prod_QiXeCn6eQ2F0pp
STRIPE_BASICPLAN_PRICE_ID=price_1Pr6Z5CKjHvY5Jztc4Y35UWW

STRIPE_PUBLISHABLE_KEY=pk_test_51Pr665CKjHvY5JztLRtqkUpH53H3szCDizC2kqenvkoJDOI7nxrVeRuSrn0hyH6jtJFooeutEtLAr5JDgpKgNJrc00kcj6cIDq
STRIPE_SECRET_KEY=sk_test_51Pr665CKjHvY5Jztam9CgiHzqscZRYKEjaQDn8z6Z5Jt0XNxseBmz0dZ0JOV2EEQaz6r8PcWlBcxyeEAUtIuWqJJ00oc6lK3u9

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
